.add-post-box {
    width: 650px;
    height: 340px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 200px;

    box-shadow: 1px 1px 10px 3px gray;
}
.add-post-box label {
    padding-right: 20px;
}


.add-post-form {
    width: 650px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.post-inputs {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.post-inputs div{
    display: flex;
    align-items: center;
    width: auto;
}
#post-title {
    width: 500px;
}
#post-comment {
    width: 500px;
    height: 100px;
}

.add-post-form button {
    margin-top: 30px;
}

.post-btns Button{
    width: 120px;
    margin-right: 20px;
    margin-left: 20px;
}
